<!DOCTYPE html>
<html>
<head>
	<title>Channels</title>
	<meta charset='utf-8'>
</head>
<body>
{% block content %}
<div class="channels_category"><h2>Новостные Каналы</h2></div>
<div class="channels_category"><h2>Детские Каналы</h2></div>
<div class="channels_category"><h2>Познавательные Каналы</h2></div>
<div class="channels_category"><h2>Развлекательные Каналы</h2></div>
<div class="channels_category"><h2>Спортивные Каналы</h2></div>
<div class="channels_category"><h2>Музыкальные Каналы</h2></div>
<div class="channels_category"><h2>Общие Каналы</h2></div>
<div class="channels_category"><h2>Фильмовые Каналы</h2></div>
<div class="channels_category"><h2>Кыргызстанские каналы</h2></div>
<div class="channels_category"><h2>Тестовые Каналы</h2></div>

{% endblock %}

</body>
</html>